@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Variables */
:root {
  /* Primary */
  --primary: 0 255 136; /* #00FF88 */
  --primary-dark: 0 179 92;
  --primary-light: 51 255 159;

  /* Background */
  --background: 240 240 240;
  --background-secondary: 235 235 235;
}

@layer utilities {
  .bg-primary {
    background-color: rgb(var(--primary));
  }

  .bg-primary-dark {
    background-color: rgb(var(--primary-dark));
  }

  .text-primary {
    color: rgb(var(--primary));
  }
}
