@import "tailwindcss";
:root {
  /* Primary */
  --primary: 0 255 136; /* #00FF88 */
  --primary-dark: 0 179 92; /* #00B35C */
  --primary-light: 51 255 159; /* #33FF9F */
  @layer utilities {
    .bg-primary {
      background-color: rgb(var(--primary));
    }
    .bg-primary-dark {
      background-color: rgb(var(--primary-dark));
    }
  }

  /* Background */
  --background: 240 240 240; /*  */
  --background-secondary: 235 235 235; /* # */
}
